header{
	background:url("img/bgheader.jpg") ;
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
}
ul{
	width: 100%;
    height: 40px;
    display: block;
}
ul li{
	display: block;
	float: left;

}
li a {
	color: white;
	font-size: 14px;
	padding: 8px;
	display: block;
	border-top: 5px solid transparent;
}

.activo,li a:hover{
	font-weight: bold;
	border-top: 5px solid #54d154;
	color: white;
	text-decoration: none;
}
.buscador{
	background: rgba(217,216,216,0.85);
	border: none;
	border-radius: 16px;
	height: 27px;
	padding: 7px 14px;
	font-size: 16px;
	color: #111111;

}
#center-header{
	height: 556px;
}
#centradito{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centradito h1{
	color: #ffff;
	font-weight: bold;
	font-size: 55px;
}

.article a, #centradito a{
	background: #54d154;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 205px;
    height: 49px;
    border-radius: 30px;
    padding: 7px 0;
    font-size: 21px;
    transition: 0.5s ease all;
}
#centradito a:hover,#centradito a:hover{
	text-decoration: none;
	background: #f34d04;
	transform: scale(1.05);
}
#pie{
	display: flex;
	justify-content: center;
}
#pie a{
	background: rgba(217,216,216,0.9);
	border:none;
	border-radius: 20px;
	width: 132px;
	height: 22px;
	color: #111111;
	text-decoration: none;
	font-size: 12px;
	padding: 3px 0px;
	text-align: center;
}

.derecha{
	margin-left: 10px;
}
.bajo{
	text-align: center;
	color: #d6d3d3;
	font-size: 17px;
}
.mano{
	margin-top:;
	color: #a09f9f;
	font-size: 30px;
	text-align: center;
}
.rayita{
	justify-content: center;
	width: 35px;
	height: 2px;
	background-color: #828181; 
}
.Iconosi i{
	color: #54d154;
	font-size: 80px;
	justify-content: center;
}	
.article .Iconosi{
	width: 50%;
	height: 142px;
	background: #e1f3e1;
	border-radius: 20px;
	margin: 27px auto;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.article h3{
	font-size: 24px;
	color: #828181;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}
.article p{
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}
.article a{
	height: 30px;
	width: 40%;
	margin: auto;
	font-size: 16px;
	padding: 3px 0;
}	
.encabezado h2{
	padding-top: 42px;
	font-size: 20px;
	color: #828181;
	text-align: center;
	letter-spacing: 2px;
} 
.encabezado h2:after{
	content:"";
	width: 44px;
	height: 1px;
	background: #828181;
	display: block;
	margin: 15px auto;

}
.encabezado p{
	color: #b7b3b3;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.verde {
	background: #54d154;

}
.botonp {
    margin: 62px auto 43px;
    font-size: 0;
    line-height:5px;
    text-align: center;

}
.botonp a{
	display: inline-block;
    text-decoration: none;
    border: 1px solid #2b9b2b;
    font-size: 16px;
    padding: 15px;
    background-color: #fff;
    color: #2b9b2b;

}
.botonp a:not(:last-child) {
  border-right: none;

}
.botonp a:hover {
  color: #fff;
  background-color: #2b9b2b;
}
.botonp a:first-of-type {
  border-radius: 16px 0 0 16px;
}
.botonp a:last-of-type {
  border-radius: 0 16px 16px 0;  
ce
/*.boton{
	display: inline-block;
	text-align:left;
	float: left;
	margin-right: 26px;
}
.boton a{
	padding: 10px 0;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

/*.boton a:hover{
	background: #535353;
	color: #f9f9cc;
	transform: scale(1.1);*/

}